policy_module(don, 1.100.1)

########################################
#
# Declarations
#

type don_t;
type don_exec_t;
init_daemon_domain(don_t, don_exec_t)

permissive don_t;

type don_initrc_exec_t;
init_script_file(don_initrc_exec_t)

type don_conf_t;
files_type(don_conf_t)

type don_var_lib_t;
files_type(don_var_lib_t)

type don_var_run_t;
files_type(don_var_run_t)

type don_port_t;
corenet_port(don_port_t)

########################################
#
# don local policy
#
allow don_t self:process { fork };

allow don_t self:fifo_file rw_fifo_file_perms;
allow don_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(don_t, don_conf_t, don_conf_t)
manage_files_pattern(don_t, don_conf_t, don_conf_t)

manage_dirs_pattern(don_t, don_var_lib_t, don_var_lib_t)
manage_files_pattern(don_t, don_var_lib_t, don_var_lib_t)
files_var_lib_filetrans(don_t, don_var_lib_t, { dir file })

manage_dirs_pattern(don_t, don_var_run_t, don_var_run_t)
manage_files_pattern(don_t, don_var_run_t, don_var_run_t)

sysnet_dns_name_resolve(don_t)
corenet_all_recvfrom_unlabeled(don_t)

allow don_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(don_t)
corenet_tcp_sendrecv_generic_node(don_t)
corenet_tcp_sendrecv_all_ports(don_t)
corenet_tcp_bind_generic_node(don_t)

gen_require(`
    type don_port_t;
')
allow don_t don_port_t:tcp_socket name_bind;

gen_require(`
    type don_port_t;
')
allow don_t don_port_t:tcp_socket name_connect;

domain_use_interactive_fds(don_t)

files_read_etc_files(don_t)

miscfiles_read_localization(don_t)

sysnet_dns_name_resolve(don_t)

allow don_t don_exec_t:file execute_no_trans;
allow don_t self:process setsched;
corecmd_exec_ls(don_t)
corenet_tcp_connect_http_port(don_t)
dev_read_urand(don_t)
fs_getattr_xattr_fs(don_t)
kernel_read_system_state(don_t)
