
## <summary>policy for don</summary>


########################################
## <summary>
##	Transition to don.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`don_domtrans',`
	gen_require(`
		type don_t, don_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, don_exec_t, don_t)
')


########################################
## <summary>
##	Execute don server in the don domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`don_initrc_domtrans',`
	gen_require(`
		type don_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, don_initrc_exec_t)
')


########################################
## <summary>
##	Search don lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`don_search_lib',`
	gen_require(`
		type don_var_lib_t;
	')

	allow $1 don_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read don lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`don_read_lib_files',`
	gen_require(`
		type don_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, don_var_lib_t, don_var_lib_t)
')

########################################
## <summary>
##	Manage don lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`don_manage_lib_files',`
	gen_require(`
		type don_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, don_var_lib_t, don_var_lib_t)
')

########################################
## <summary>
##	Manage don lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`don_manage_lib_dirs',`
	gen_require(`
		type don_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, don_var_lib_t, don_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a don environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`don_admin',`
	gen_require(`
		type don_t;
		type don_initrc_exec_t;
		type don_var_lib_t;
	')

	allow $1 don_t:process { ptrace signal_perms };
	ps_process_pattern($1, don_t)

	don_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 don_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, don_var_lib_t)

')

